$max-width: 1200px;

$boxBgColor1: rgb(217, 89, 89);
$boxBgColor2: rgb(243, 149, 175);
$boxBgColor3: rgb(230, 170, 238);

$containerBgColor1: coral;
$containerBgColor2: rgb(205, 156, 138);

$dangerButton: rgb(186, 24, 24);
$primaryButton: rgb(20, 108, 241);
$secondaryButton: rgb(215, 214, 214);
